

.bg-primary {
    background-color: #c82c2c !important;
}


.rooel-klskdjfkj{
    margin-left: 15%;
}

.page-header{
    margin-bottom: 2em;
}

.mg-top-top{
    margin-top: 0.5em;
}
.center_div{
    margin: 0 auto;
    width:80%;/* value of your choice which suits your alignment */
    padding-bottom: 6em;
    padding-top: 6em;
    font-weight: bold;
}

#inputPassword2{
    padding: 1.5em;
    margin: 1em;
    width: 30em;
}

#ccolbutton{
    padding: 1em;
    font-weight: bold;
}




















